<div class="container">
  <div class="card">
    <div class="card-header"  >
      <div id="current-date"> {{ date }}</div>
      <div><button type="button" (click)="Logout()">Logout</button></div>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>"Your future is created by what you do today, not tomorrow."</p>
        <footer class="blockquote-footer">Robert T. Kiyosaki</footer>
      </blockquote>
      <router-outlet></router-outlet>

    </div>
  </div>


</div>
