
.container {
  display: block;
  width: 800px;
}

.card{
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
}
.card-header{
  font-size: x-large;
  background: #E1F7F5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

button{
  font-size: 16px;
  background-color: #9AC8CD;
  color: black;
  padding: 8px;
}

button:hover {
  background-color: cadetblue;
}




